@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-box{
    width: 95%;
    max-width: 1100px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid #6ae3ff;
    background: transparent;
    backdrop-filter: blur(15px);
}

.page-title{
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}

.credit-box{
    text-align: right;
    margin-bottom: 15px;
    font-weight: 500;
    color: #000;
}

.course-table{
    width: 100%;
    border-collapse: collapse;
    color: #000;
}

.course-table th,
.course-table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-size: 0.9em;
}

.course-table th{
    font-weight: 600;
}

.action-section{
    margin-top: 25px;
    text-align: center;
}

.action-section button{
    padding: 10px 35px;
    border-radius: 40px;
    border: none;
    background: #6ae3ff;
    font-weight: 500;
    cursor: pointer;
}

.delete-btn{
    padding: 6px 18px;
    border-radius: 20px;
    border: none;
    background: #ff6a6a;
    font-size: 0.85em;
    cursor: pointer;
}
